:root {
    /* Variables CSS para mayor flexibilidad */
    --sidebar-width: 200px; /* Ancho inicial de la barra lateral */
    --sidebar-bg-color: lightgray; /* Color de fondo */
    --sidebar-link-color: white; /* Color de los enlaces */
    --sidebar-link-hover-color: #007BFF; /* Color al pasar el ratón sobre los enlaces */
    --font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-family);
    /* height: 100%;  <-- Eliminado */
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    /* z-index: 1;  <-- Eliminado */
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

main::before {
    background-image: url(../img/img8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    min-height: 150px;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

nav ul li {
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    margin: 15px;
}

